:root {
    --primary-color: 1A1A1A;
    --secondary-color: F8F6F2;
    --accent-color: FF5C00;
    --accent-color2: C4A44F;
}



nav ul{
    background-color: none;
    color: var(--secondary-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;

}
